Repository nlamirault/crd-json-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/crd

.github/labeler.yml:

# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
# Labels for action/labeler

######################################
# Label area/xxx

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

area/crd:
- changed-files:
  - any-glob-to-any-file: crds/*.sh
  - any-glob-to-any-file: schemas/**/*.json

feat(crd): add ACK SecretsManager controller
  crds/ack-secretsmanager.sh
  schemas/secretsmanager.services.k8s.aws/secret_v1alpha1.json
Labels: area/crd

feat(crd): add ACK ECR controller
  crds/ack-ecr.sh
  schemas/ecr.services.k8s.aws/pullthroughcacherule_v1alpha1.json
  schemas/ecr.services.k8s.aws/repository_v1alpha1.json
Labels: area/crd

feat(crd): add ACK ECS controller
  crds/ack-ecs.sh
  schemas/ecs.services.k8s.aws/cluster_v1alpha1.json
  schemas/ecs.services.k8s.aws/service_v1alpha1.json
  schemas/ecs.services.k8s.aws/taskdefinition_v1alpha1.json
Labels: area/crd

feat(crd): add ACK S3 controller
  crds/ack-s3.sh
  schemas/s3.services.k8s.aws/bucket_v1alpha1.json
Labels: area/crd

feat(crd): add ACK EventBridge controller
  crds/ack-eventbridge.sh
  schemas/eventbridge.services.k8s.aws/archive_v1alpha1.json
  schemas/eventbridge.services.k8s.aws/endpoint_v1alpha1.json
  schemas/eventbridge.services.k8s.aws/eventbus_v1alpha1.json
  schemas/eventbridge.services.k8s.aws/rule_v1alpha1.json
Labels: area/crd

feat(crd): add ACK SQS controller
  crds/ack-sqs.sh
  schemas/sqs.services.k8s.aws/queue_v1alpha1.json
Labels: area/crd

feat(crds): Add GCP Config Connector
  crds/gcp-config-connector.sh
  schemas/bigquery.cnrm.cloud.google.com/bigquerydataset_v1beta1.json
  schemas/bigquery.cnrm.cloud.google.com/bigquerytable_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computeaddress_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computedisk_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computefirewall_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computeinstance_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computenetwork_v1beta1.json
  schemas/compute.cnrm.cloud.google.com/computesubnetwork_v1beta1.json
  schemas/container.cnrm.cloud.google.com/containercluster_v1beta1.json
  schemas/container.cnrm.cloud.google.com/containernodepool_v1beta1.json
  schemas/dns.cnrm.cloud.google.com/dnsmanagedzone_v1beta1.json
  schemas/dns.cnrm.cloud.google.com/dnsrecordset_v1beta1.json
  schemas/iam.cnrm.cloud.google.com/iampolicy_v1beta1.json
  schemas/iam.cnrm.cloud.google.com/iamserviceaccount_v1beta1.json
  schemas/iam.cnrm.cloud.google.com/iamserviceaccountkey_v1beta1.json
  schemas/kms.cnrm.cloud.google.com/kmscryptokey_v1beta1.json
  schemas/kms.cnrm.cloud.google.com/kmskeyring_v1beta1.json
  schemas/logging.cnrm.cloud.google.com/logginglogmetric_v1beta1.json
  schemas/logging.cnrm.cloud.google.com/logginglogsink_v1beta1.json
  schemas/monitoring.cnrm.cloud.google.com/monitoringalertpolicy_v1beta1.json
  schemas/monitoring.cnrm.cloud.google.com/monitoringnotificationchannel_v1beta1.json
  schemas/pubsub.cnrm.cloud.google.com/pubsubsubscription_v1beta1.json
  schemas/pubsub.cnrm.cloud.google.com/pubsubtopic_v1beta1.json
  schemas/resourcemanager.cnrm.cloud.google.com/folder_v1beta1.json
  schemas/resourcemanager.cnrm.cloud.google.com/project_v1beta1.json
  schemas/run.cnrm.cloud.google.com/runservice_v1beta1.json
  schemas/secretmanager.cnrm.cloud.google.com/secretmanagersecret_v1beta1.json
  schemas/sql.cnrm.cloud.google.com/sqldatabase_v1beta1.json
  schemas/sql.cnrm.cloud.google.com/sqlinstance_v1beta1.json
  schemas/sql.cnrm.cloud.google.com/sqluser_v1beta1.json
  schemas/storage.cnrm.cloud.google.com/storagebucket_v1beta1.json
Labels: area/crd

feat(crds): Add Kargo
  crds/kargo.sh
  schemas/kargo.akuity.io/clusterconfig_v1alpha1.json
  schemas/kargo.akuity.io/clusterpromotiontask_v1alpha1.json
  schemas/kargo.akuity.io/freight_v1alpha1.json
  schemas/kargo.akuity.io/project_v1alpha1.json
  schemas/kargo.akuity.io/projectconfig_v1alpha1.json
  schemas/kargo.akuity.io/promotion_v1alpha1.json
  schemas/kargo.akuity.io/promotiontask_v1alpha1.json
  schemas/kargo.akuity.io/stage_v1alpha1.json
  schemas/kargo.akuity.io/warehouse_v1alpha1.json
Labels: area/crd

feat(crds): Add Karpenter
  crds/karpenter-aws.sh
  crds/karpenter-azure.sh
  schemas/karpenter.azure.com/aksnodeclass_v1alpha2.json
  schemas/karpenter.k8s.aws/ec2nodeclass_v1.json
  schemas/karpenter.sh/nodeclaim_v1.json
  schemas/karpenter.sh/nodeoverlay_v1alpha1.json
  schemas/karpenter.sh/nodepool_v1.json
  scripts/commons.sh
Labels: area/crd

feat: doc
  README.md
Labels: none

feat(crds): Add Keda
  README.md
  crds/keda.sh
  schemas/eventing.keda.sh/cloudeventsource_v1alpha1.json
  schemas/eventing.keda.sh/clustercloudeventsource_v1alpha1.json
  schemas/keda.sh/clustertriggerauthentication_v1alpha1.json
  schemas/keda.sh/scaledjob_v1alpha1.json
  schemas/keda.sh/scaledobject_v1alpha1.json
  schemas/keda.sh/triggerauthentication_v1alpha1.json
Labels: area/crd

feat(crds): Add Istio
  README.md
Labels: none

feat(crds): Add Istio
  crds/istio.sh
  schemas/extensions.istio.io/wasmplugin_v1alpha1.json
  schemas/networking.istio.io/destinationrule_v1.json
  schemas/networking.istio.io/envoyfilter_v1alpha3.json
  schemas/networking.istio.io/gateway_v1.json
  schemas/networking.istio.io/proxyconfig_v1beta1.json
  schemas/networking.istio.io/serviceentry_v1.json
  schemas/networking.istio.io/sidecar_v1.json
  schemas/networking.istio.io/virtualservice_v1.json
  schemas/networking.istio.io/workloadentry_v1.json
  schemas/networking.istio.io/workloadgroup_v1.json
  schemas/security.istio.io/authorizationpolicy_v1.json
  schemas/security.istio.io/peerauthentication_v1.json
  schemas/security.istio.io/requestauthentication_v1.json
  schemas/telemetry.istio.io/telemetry_v1.json
Labels: area/crd

feat(doc): update
  README.md
Labels: none

fix(crd): typo
  crds/cert-manager.sh
Labels: area/crd

feat(crds): Add OpenTelemetry Operator
  README.md
  crds/opentelemetry-operator.sh
  schemas/opentelemetry.io/instrumentation_v1alpha1.json
  schemas/opentelemetry.io/opampbridge_v1alpha1.json
  schemas/opentelemetry.io/opentelemetrycollector_v1alpha1.json
  schemas/opentelemetry.io/targetallocator_v1alpha1.json
  scripts/commons.sh
Labels: area/crd

feat(traefik): add support for traefik crds (#262)
  crds/traefik.sh
  public/data/catalog.json
  schemas/traefik.io/ingressroute_v1alpha1.json
  schemas/traefik.io/ingressroutetcp_v1alpha1.json
  schemas/traefik.io/ingressrouteudp_v1alpha1.json
  schemas/traefik.io/middleware_v1alpha1.json
  schemas/traefik.io/middlewaretcp_v1alpha1.json
  schemas/traefik.io/serverstransport_v1alpha1.json
  schemas/traefik.io/serverstransporttcp_v1alpha1.json
  schemas/traefik.io/tlsoption_v1alpha1.json
  schemas/traefik.io/tlsstore_v1alpha1.json
  schemas/traefik.io/traefikservice_v1alpha1.json
Labels: area/crd

update schemas
  schemas/argoproj.io/clusterworkflowtemplate_v1alpha1.json
  schemas/argoproj.io/cronworkflow_v1alpha1.json
  schemas/argoproj.io/workflow_v1alpha1.json
  schemas/argoproj.io/workflowartifactgctask_v1alpha1.json
  schemas/argoproj.io/workfloweventbinding_v1alpha1.json
  schemas/argoproj.io/workflowtaskresult_v1alpha1.json
  schemas/argoproj.io/workflowtaskset_v1alpha1.json
  schemas/argoproj.io/workflowtemplate_v1alpha1.json
Labels: area/crd

update catalog
  public/data/catalog.json
Labels: none

update schemas
  public/data/catalog.json
  schemas/external-secrets.io/clusterexternalsecret_v1.json
  schemas/external-secrets.io/clusterexternalsecret_v1beta1.json
  schemas/external-secrets.io/clustersecretstore_v1.json
  schemas/external-secrets.io/clustersecretstore_v1beta1.json
  schemas/external-secrets.io/externalsecret_v1.json
  schemas/external-secrets.io/pushsecret_v1alpha1.json
  schemas/external-secrets.io/secretstore_v1.json
  schemas/external-secrets.io/secretstore_v1beta1.json
  schemas/generators.external-secrets.io/vaultdynamicsecret_v1alpha1.json
Labels: area/crd

update schemas
  crds/mariadb-operator.sh
  public/data/catalog.json
  schemas/k8s.mariadb.com/externalmariadb_v1alpha1.json
  schemas/k8s.mariadb.com/mariadb_v1alpha1.json
  schemas/k8s.mariadb.com/maxscale_v1alpha1.json
  schemas/k8s.mariadb.com/physicalbackup_v1alpha1.json
Labels: area/crd

feat(schemas): add group-level listing pages for CRD API groups
  src/layouts/Layout.astro
  src/pages/schemas/[...slug].astro
Labels: none

feat(schemas): add group-level listing pages for CRD API groups (#274)
  src/layouts/Layout.astro
  src/pages/schemas/[...slug].astro
Labels: none

feat(schemas): add group-level listing pages for CRD API groups (#274)
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/schemas/[...slug].astro
Labels: none

feat(schemas): add group-level listing pages for CRD API groups (#274) (#289)
  src/pages/index.astro
Labels: none

feat(schemas): add openstack resource controller crd support
  crds/k-orc.sh
  public/data/catalog.json
  schemas/openstack.k-orc.cloud/addressscope_v1alpha1.json
  schemas/openstack.k-orc.cloud/applicationcredential_v1alpha1.json
  schemas/openstack.k-orc.cloud/domain_v1alpha1.json
  schemas/openstack.k-orc.cloud/endpoint_v1alpha1.json
  schemas/openstack.k-orc.cloud/flavor_v1alpha1.json
  schemas/openstack.k-orc.cloud/floatingip_v1alpha1.json
  schemas/openstack.k-orc.cloud/group_v1alpha1.json
  schemas/openstack.k-orc.cloud/image_v1alpha1.json
  schemas/openstack.k-orc.cloud/keypair_v1alpha1.json
  schemas/openstack.k-orc.cloud/network_v1alpha1.json
  schemas/openstack.k-orc.cloud/port_v1alpha1.json
  schemas/openstack.k-orc.cloud/project_v1alpha1.json
  schemas/openstack.k-orc.cloud/role_v1alpha1.json
  schemas/openstack.k-orc.cloud/router_v1alpha1.json
  schemas/openstack.k-orc.cloud/routerinterface_v1alpha1.json
  schemas/openstack.k-orc.cloud/securitygroup_v1alpha1.json
  schemas/openstack.k-orc.cloud/server_v1alpha1.json
  schemas/openstack.k-orc.cloud/servergroup_v1alpha1.json
  schemas/openstack.k-orc.cloud/service_v1alpha1.json
  schemas/openstack.k-orc.cloud/subnet_v1alpha1.json
  schemas/openstack.k-orc.cloud/trunk_v1alpha1.json
  schemas/openstack.k-orc.cloud/user_v1alpha1.json
  schemas/openstack.k-orc.cloud/volume_v1alpha1.json
  schemas/openstack.k-orc.cloud/volumetype_v1alpha1.json
Labels: area/crd

feat(schemas): add openstack resource controller crd support (#290)
  crds/k-orc.sh
  public/data/catalog.json
  schemas/openstack.k-orc.cloud/addressscope_v1alpha1.json
  schemas/openstack.k-orc.cloud/applicationcredential_v1alpha1.json
  schemas/openstack.k-orc.cloud/domain_v1alpha1.json
  schemas/openstack.k-orc.cloud/endpoint_v1alpha1.json
  schemas/openstack.k-orc.cloud/flavor_v1alpha1.json
  schemas/openstack.k-orc.cloud/floatingip_v1alpha1.json
  schemas/openstack.k-orc.cloud/group_v1alpha1.json
  schemas/openstack.k-orc.cloud/image_v1alpha1.json
  schemas/openstack.k-orc.cloud/keypair_v1alpha1.json
  schemas/openstack.k-orc.cloud/network_v1alpha1.json
  schemas/openstack.k-orc.cloud/port_v1alpha1.json
  schemas/openstack.k-orc.cloud/project_v1alpha1.json
  schemas/openstack.k-orc.cloud/role_v1alpha1.json
  schemas/openstack.k-orc.cloud/router_v1alpha1.json
  schemas/openstack.k-orc.cloud/routerinterface_v1alpha1.json
  schemas/openstack.k-orc.cloud/securitygroup_v1alpha1.json
  schemas/openstack.k-orc.cloud/server_v1alpha1.json
  schemas/openstack.k-orc.cloud/servergroup_v1alpha1.json
  schemas/openstack.k-orc.cloud/service_v1alpha1.json
  schemas/openstack.k-orc.cloud/subnet_v1alpha1.json
  schemas/openstack.k-orc.cloud/trunk_v1alpha1.json
  schemas/openstack.k-orc.cloud/user_v1alpha1.json
  schemas/openstack.k-orc.cloud/volume_v1alpha1.json
  schemas/openstack.k-orc.cloud/volumetype_v1alpha1.json
Labels: area/crd

feat(website): implement agent-ready website improvements
  .claude/skills/openspec-hub-schema-lookup.md
  astro.config.mjs
  bun.lock
  functions/_middleware.js
  package.json
  public/.well-known/agent-skills/schema-lookup/SKILL.md
  public/.well-known/agent-skills/schema-validate/SKILL.md
  public/.well-known/api-catalog.json
  public/_headers
  public/robots.txt
  src/layouts/Layout.astro
  src/pages/.well-known/agent-skills/index.json.ts
  src/pages/404.astro
  src/pages/index.astro
  src/pages/index.md.ts
  src/pages/llms.txt.ts
  src/pages/schemas/[...slug].astro
  src/pages/sitemap.xml.ts
Labels: none

feat(website): implement agent-ready website improvements (#292)
  .claude/skills/openspec-hub-schema-lookup.md
  astro.config.mjs
  bun.lock
  functions/_middleware.js
  package.json
  public/.well-known/agent-skills/schema-lookup/SKILL.md
  public/.well-known/agent-skills/schema-validate/SKILL.md
  public/.well-known/api-catalog.json
  public/_headers
  public/robots.txt
  src/layouts/Layout.astro
  src/pages/.well-known/agent-skills/index.json.ts
  src/pages/404.astro
  src/pages/index.astro
  src/pages/index.md.ts
  src/pages/llms.txt.ts
  src/pages/schemas/[...slug].astro
  src/pages/sitemap.xml.ts
Labels: none

ci(renovate): add schema rebuild workflow for renovate prs
  .github/workflows/renovate-rebuild-schemas.yml
Labels: area/github

ci(renovate): add schema rebuild workflow for renovate prs (#295)
  .github/workflows/renovate-rebuild-schemas.yml
Labels: area/github

ci(renovate): add uv setup and catalog rebuild step
  .github/workflows/renovate-rebuild-schemas.yml
Labels: area/github

ci(renovate): add uv setup and catalog rebuild step (#297)
  .github/workflows/renovate-rebuild-schemas.yml
Labels: area/github

feat(prometheus-operator): update schemas to v0.91.0
  crds/prometheus-operator.sh
  public/data/titles.json
  schemas/monitoring.coreos.com/alertmanager_v1.json
  schemas/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
  schemas/monitoring.coreos.com/prometheus_v1.json
  schemas/monitoring.coreos.com/prometheusagent_v1alpha1.json
  schemas/monitoring.coreos.com/scrapeconfig_v1alpha1.json
  schemas/monitoring.coreos.com/thanosruler_v1.json
Labels: area/crd

feat(prometheus-operator): update schemas to v0.91.0 (#306)
  crds/prometheus-operator.sh
  public/data/titles.json
  schemas/monitoring.coreos.com/alertmanager_v1.json
  schemas/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
  schemas/monitoring.coreos.com/prometheus_v1.json
  schemas/monitoring.coreos.com/prometheusagent_v1alpha1.json
  schemas/monitoring.coreos.com/scrapeconfig_v1alpha1.json
  schemas/monitoring.coreos.com/thanosruler_v1.json
Labels: area/crd

chore: rename openspec-hub to schema-hub across codebase
  .claude/skills/schema-hub-schema-lookup.md
  .github/settings.yml
  CHANGELOG.md
  CITATION.cff
  README.md
  astro.config.mjs
  docs/README.md
  docs/explanation/architecture.md
  docs/explanation/schema-extraction.md
  docs/how-to/howto-validate.md
  docs/how-to/howto-vscode.md
  docs/how-to/howto-yaml-language-server.md
  docs/reference/schemas.md
  docs/tutorials/getting-started.md
  package.json
  public/.well-known/agent-skills/schema-lookup/SKILL.md
  public/.well-known/agent-skills/schema-validate/SKILL.md
  public/.well-known/api-catalog.json
  public/_headers
  public/og.svg
  public/robots.txt
  src/components/SchemaViewToggle.tsx
  src/layouts/Layout.astro
  src/pages/.well-known/agent-skills/index.json.ts
  src/pages/404.astro
  src/pages/index.astro
  src/pages/index.md.ts
  src/pages/llms.txt.ts
  src/pages/schemas/[...slug].astro
  src/pages/sitemap.xml.ts
  wrangler.jsonc
Labels: area/github

fix(ui): fix split "OpenSpec HUB" elements in templates
  public/og.svg
  src/components/SchemaViewToggle.tsx
  src/layouts/Layout.astro
  src/pages/index.astro
Labels: none

chore: rename openspec-hub to schema-hub across codebase (#309)
  .claude/skills/schema-hub-schema-lookup.md
  .github/settings.yml
  CHANGELOG.md
  CITATION.cff
  README.md
  astro.config.mjs
  docs/README.md
  docs/explanation/architecture.md
  docs/explanation/schema-extraction.md
  docs/how-to/howto-validate.md
  docs/how-to/howto-vscode.md
  docs/how-to/howto-yaml-language-server.md
  docs/reference/schemas.md
  docs/tutorials/getting-started.md
  package.json
  public/.well-known/agent-skills/schema-lookup/SKILL.md
  public/.well-known/agent-skills/schema-validate/SKILL.md
  public/.well-known/api-catalog.json
  public/_headers
  public/og.svg
  public/robots.txt
  src/components/SchemaViewToggle.tsx
  src/layouts/Layout.astro
  src/pages/.well-known/agent-skills/index.json.ts
  src/pages/404.astro
  src/pages/index.astro
  src/pages/index.md.ts
  src/pages/llms.txt.ts
  src/pages/schemas/[...slug].astro
  src/pages/sitemap.xml.ts
  wrangler.jsonc
Labels: area/github

fix(catalog): sort titles.json output for deterministic builds
  public/data/titles.json
  scripts/generate-catalog.py
Labels: none

fix(catalog): sort titles.json output for deterministic builds (#319)
  public/data/titles.json
  scripts/generate-catalog.py
Labels: none
