Repository nlamirault/crd-json-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/crd

feat: doc
  README.md
Labels: none

feat(crd): Add Argo-CD
  crds/argo-cd.sh
  schemas/argoproj.io/application_v1alpha1.json
  schemas/argoproj.io/applicationset_v1alpha1.json
  schemas/argoproj.io/appproject_v1alpha1.json
Labels: area/crd

fix(github): labeler action
  .github/workflows/project-pr-labeler.yml
Labels: area/github

fix(github): release drafter
  .github/workflows/release-drafter.yml
Labels: area/github

feat(crd): Add Argo Rollouts
  crds/argo-rollouts.sh
  schemas/argoproj.io/analysisrun_v1alpha1.json
  schemas/argoproj.io/analysistemplate_v1alpha1.json
  schemas/argoproj.io/clusteranalysistemplate_v1alpha1.json
  schemas/argoproj.io/experiment_v1alpha1.json
  schemas/argoproj.io/rollout_v1alpha1.json
Labels: area/crd

feat: documentation
  README.md
Labels: none

feat(crd): Add Argo Events
  crds/argo-events.sh
  schemas/argoproj.io/eventbus_v1alpha1.json
  schemas/argoproj.io/eventsource_v1alpha1.json
  schemas/argoproj.io/sensor_v1alpha1.json
Labels: area/crd

feat(crd): Add External Secrets
  crds/external-secrets.sh
  schemas/external-secrets.io/clusterexternalsecret_v1beta1.json
  schemas/external-secrets.io/clustersecretstore_v1alpha1.json
  schemas/external-secrets.io/externalsecret_v1alpha1.json
  schemas/external-secrets.io/pushsecret_v1alpha1.json
  schemas/external-secrets.io/secretstore_v1alpha1.json
  schemas/generators.external-secrets.io/acraccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/ecrauthorizationtoken_v1alpha1.json
  schemas/generators.external-secrets.io/fake_v1alpha1.json
  schemas/generators.external-secrets.io/gcraccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/githubaccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/password_v1alpha1.json
  schemas/generators.external-secrets.io/uuid_v1alpha1.json
  schemas/generators.external-secrets.io/vaultdynamicsecret_v1alpha1.json
  schemas/generators.external-secrets.io/webhook_v1alpha1.json
Labels: area/crd

feat(crd): Add Gateway API
  crds/gateway-api.sh
  schemas/gateway.networking.k8s.io/gateway_v1.json
  schemas/gateway.networking.k8s.io/gatewayclass_v1.json
  schemas/gateway.networking.k8s.io/grpcroute_v1.json
  schemas/gateway.networking.k8s.io/httproute_v1.json
  schemas/gateway.networking.k8s.io/referencegrant_v1beta1.json
Labels: area/crd

feat(crd): Add Grafana Operator
  crds/grafana-operator.sh
  schemas/grafana.integreatly.org/grafana_v1beta1.json
  schemas/grafana.integreatly.org/grafanaalertrulegroup_v1beta1.json
  schemas/grafana.integreatly.org/grafanacontactpoint_v1beta1.json
  schemas/grafana.integreatly.org/grafanadashboard_v1beta1.json
  schemas/grafana.integreatly.org/grafanadatasource_v1beta1.json
  schemas/grafana.integreatly.org/grafanafolder_v1beta1.json
  schemas/grafana.integreatly.org/grafananotificationpolicy_v1beta1.json
Labels: area/crd

feat(crd): Add Prometheus Operator
  crds/prometheus-operator.sh
  schemas/monitoring.coreos.com/alertmanager_v1.json
  schemas/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
  schemas/monitoring.coreos.com/podmonitor_v1.json
  schemas/monitoring.coreos.com/probe_v1.json
  schemas/monitoring.coreos.com/prometheus_v1.json
  schemas/monitoring.coreos.com/prometheusagent_v1alpha1.json
  schemas/monitoring.coreos.com/prometheusrule_v1.json
  schemas/monitoring.coreos.com/scrapeconfig_v1alpha1.json
  schemas/monitoring.coreos.com/servicemonitor_v1.json
  schemas/monitoring.coreos.com/thanosruler_v1.json
Labels: area/crd

fix(github): actions cleanup
  .github/workflows/issues-labels-comments.yml
  .github/workflows/issues-labels-required.yml
Labels: area/github

feat(github): size action
  .github/workflows/size.yaml
Labels: area/github

feat(crd): Add Vertical Pod Autoscaler
  crds/vpa.sh
  schemas/autoscaling.k8s.io/verticalpodautoscaler_v1.json
  schemas/autoscaling.k8s.io/verticalpodautoscalercheckpoint_v1.json
Labels: area/crd

feat: add license
  LICENSE
Labels: none

feat(renovate): cleanup
  .github/renovate.json5
Labels: area/github

feat(renovate): cleanup
  .github/workflows/project-pr-labeler.yml
Labels: area/github

feat(renovate): cleanup
  .github/renovate.json5
Labels: area/github

feat(renovate): regex
  .github/renovate.json5
Labels: area/github

feat(renovate): regex
  .github/renovate.json5
Labels: area/github

feat(renovate): post task
  .github/renovate.json5
  crds/external-secrets.sh
Labels: area/github, area/crd

feat(crd): generate
  schemas/external-secrets.io/clusterexternalsecret_v1.json
  schemas/external-secrets.io/clustersecretstore_v1.json
  schemas/external-secrets.io/externalsecret_v1.json
  schemas/external-secrets.io/pushsecret_v1alpha1.json
  schemas/external-secrets.io/secretstore_v1.json
  schemas/generators.external-secrets.io/acraccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/ecrauthorizationtoken_v1alpha1.json
  schemas/generators.external-secrets.io/gcraccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/githubaccesstoken_v1alpha1.json
  schemas/generators.external-secrets.io/vaultdynamicsecret_v1alpha1.json
  schemas/generators.external-secrets.io/webhook_v1alpha1.json
Labels: area/crd

feat(crd): generate
  schemas/argoproj.io/application_v1alpha1.json
  schemas/argoproj.io/applicationset_v1alpha1.json
  schemas/argoproj.io/appproject_v1alpha1.json
Labels: area/crd

feat(crd): generate
  schemas/gateway.networking.k8s.io/gateway_v1.json
  schemas/gateway.networking.k8s.io/gatewayclass_v1.json
  schemas/gateway.networking.k8s.io/grpcroute_v1.json
  schemas/gateway.networking.k8s.io/httproute_v1.json
  schemas/gateway.networking.k8s.io/referencegrant_v1beta1.json
Labels: area/crd

feat(crd): generate
  schemas/grafana.integreatly.org/grafana_v1beta1.json
  schemas/grafana.integreatly.org/grafanaalertrulegroup_v1beta1.json
  schemas/grafana.integreatly.org/grafanacontactpoint_v1beta1.json
  schemas/grafana.integreatly.org/grafanadashboard_v1beta1.json
  schemas/grafana.integreatly.org/grafanadatasource_v1beta1.json
  schemas/grafana.integreatly.org/grafanafolder_v1beta1.json
  schemas/grafana.integreatly.org/grafananotificationpolicy_v1beta1.json
Labels: area/crd

feat(crd): url
  crds/grafana-operator.sh
Labels: area/crd

feat(crd): generate
  schemas/argoproj.io/analysisrun_v1alpha1.json
  schemas/argoproj.io/analysistemplate_v1alpha1.json
  schemas/argoproj.io/clusteranalysistemplate_v1alpha1.json
  schemas/argoproj.io/rollout_v1alpha1.json
Labels: area/crd

fix(vpa): url
  crds/vpa.sh
Labels: area/crd

feat(crd): Add Argo Workflows
  crds/argo-workflows.sh
  schemas/argoproj.io/clusterworkflowtemplate_v1alpha1.json
  schemas/argoproj.io/cronworkflow_v1alpha1.json
  schemas/argoproj.io/workflowartifactgctask_v1alpha1.json
  schemas/argoproj.io/workfloweventbinding_v1alpha1.json
  schemas/argoproj.io/workflowtaskresult_v1alpha1.json
  schemas/argoproj.io/workflowtaskset_v1alpha1.json
  schemas/argoproj.io/workflowtemplate_v1alpha1.json
Labels: area/crd

feat(renovate): clean
  .github/renovate.json5
Labels: area/github

feat(crd): Add CertManager
  crds/cert-manager.sh
  schemas/acme.cert-manager.io/challenge_v1.json
  schemas/acme.cert-manager.io/order_v1.json
  schemas/cert-manager.io/certificate_v1.json
  schemas/cert-manager.io/certificaterequest_v1.json
  schemas/cert-manager.io/clusterissuer_v1.json
  schemas/cert-manager.io/issuer_v1.json
Labels: area/crd

feat(crd): add ACK Iam controller
  crds/ack-iam.sh
  schemas/iam.services.k8s.aws/group_v1alpha1.json
  schemas/iam.services.k8s.aws/instanceprofile_v1alpha1.json
  schemas/iam.services.k8s.aws/openidconnectprovider_v1alpha1.json
  schemas/iam.services.k8s.aws/policy_v1alpha1.json
  schemas/iam.services.k8s.aws/role_v1alpha1.json
  schemas/iam.services.k8s.aws/servicelinkedrole_v1alpha1.json
  schemas/iam.services.k8s.aws/user_v1alpha1.json
  schemas/services.k8s.aws/adoptedresource_v1alpha1.json
  schemas/services.k8s.aws/fieldexport_v1alpha1.json
Labels: area/crd

feat(crd): add ACK EKS controller
  crds/ack-eks.sh
  schemas/eks.services.k8s.aws/accessentry_v1alpha1.json
  schemas/eks.services.k8s.aws/addon_v1alpha1.json
  schemas/eks.services.k8s.aws/cluster_v1alpha1.json
  schemas/eks.services.k8s.aws/fargateprofile_v1alpha1.json
  schemas/eks.services.k8s.aws/identityproviderconfig_v1alpha1.json
  schemas/eks.services.k8s.aws/nodegroup_v1alpha1.json
  schemas/eks.services.k8s.aws/podidentityassociation_v1alpha1.json
Labels: area/crd

feat(crd): add ACK SNS controller
  crds/ack-sns.sh
  schemas/sns.services.k8s.aws/platformapplication_v1alpha1.json
  schemas/sns.services.k8s.aws/platformendpoint_v1alpha1.json
  schemas/sns.services.k8s.aws/subscription_v1alpha1.json
  schemas/sns.services.k8s.aws/topic_v1alpha1.json
Labels: area/crd

feat(crd): add ACK RDS controller
  crds/ack-rds.sh
  schemas/rds.services.k8s.aws/dbcluster_v1alpha1.json
  schemas/rds.services.k8s.aws/dbclusterendpoint_v1alpha1.json
  schemas/rds.services.k8s.aws/dbclusterparametergroup_v1alpha1.json
  schemas/rds.services.k8s.aws/dbclustersnapshot_v1alpha1.json
  schemas/rds.services.k8s.aws/dbinstance_v1alpha1.json
  schemas/rds.services.k8s.aws/dbparametergroup_v1alpha1.json
  schemas/rds.services.k8s.aws/dbproxy_v1alpha1.json
  schemas/rds.services.k8s.aws/dbsnapshot_v1alpha1.json
  schemas/rds.services.k8s.aws/dbsubnetgroup_v1alpha1.json
  schemas/rds.services.k8s.aws/globalcluster_v1alpha1.json
Labels: area/crd

feat(crd): add ACK DynamoDB controller
  crds/ack-dynamodb.sh
  schemas/dynamodb.services.k8s.aws/backup_v1alpha1.json
  schemas/dynamodb.services.k8s.aws/globaltable_v1alpha1.json
  schemas/dynamodb.services.k8s.aws/table_v1alpha1.json
Labels: area/crd

feat(crd): add ACK Bedrock Agent controller
  crds/ack-bedrockagent.sh
  schemas/bedrockagent.services.k8s.aws/agent_v1alpha1.json
Labels: area/crd

feat(crd): add ACK EC2 controller
  crds/ack-ec2.sh
  schemas/ec2.services.k8s.aws/capacityreservation_v1alpha1.json
  schemas/ec2.services.k8s.aws/dhcpoptions_v1alpha1.json
  schemas/ec2.services.k8s.aws/elasticipaddress_v1alpha1.json
  schemas/ec2.services.k8s.aws/flowlog_v1alpha1.json
  schemas/ec2.services.k8s.aws/instance_v1alpha1.json
  schemas/ec2.services.k8s.aws/internetgateway_v1alpha1.json
  schemas/ec2.services.k8s.aws/launchtemplate_v1alpha1.json
  schemas/ec2.services.k8s.aws/natgateway_v1alpha1.json
  schemas/ec2.services.k8s.aws/networkacl_v1alpha1.json
  schemas/ec2.services.k8s.aws/routetable_v1alpha1.json
  schemas/ec2.services.k8s.aws/securitygroup_v1alpha1.json
  schemas/ec2.services.k8s.aws/subnet_v1alpha1.json
  schemas/ec2.services.k8s.aws/transitgateway_v1alpha1.json
  schemas/ec2.services.k8s.aws/transitgatewayvpcattachment_v1alpha1.json
  schemas/ec2.services.k8s.aws/vpc_v1alpha1.json
  schemas/ec2.services.k8s.aws/vpcendpoint_v1alpha1.json
  schemas/ec2.services.k8s.aws/vpcendpointserviceconfiguration_v1alpha1.json
  schemas/ec2.services.k8s.aws/vpcpeeringconnection_v1alpha1.json
Labels: area/crd

feat(crd): add ACK Kafka controller
  crds/ack-kafka.sh
  schemas/kafka.services.k8s.aws/cluster_v1alpha1.json
  schemas/kafka.services.k8s.aws/configuration_v1alpha1.json
  schemas/kafka.services.k8s.aws/serverlesscluster_v1alpha1.json
Labels: area/crd

feat(crd): add ACK KMS controller
  crds/ack-kms.sh
  schemas/kms.services.k8s.aws/alias_v1alpha1.json
  schemas/kms.services.k8s.aws/grant_v1alpha1.json
  schemas/kms.services.k8s.aws/key_v1alpha1.json
Labels: area/crd

.github/labeler.yml:

# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
# Labels for action/labeler

######################################
# Label area/xxx

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

area/crd:
- changed-files:
  - any-glob-to-any-file: crds/*.sh
  - any-glob-to-any-file: schemas/**/*.json
